* {
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  height: 100%;
}
#root {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  overflow: auto;
  color: #555;
}
