.todo-list {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
.todo-list .title {
  margin: 0;
  line-height: 80px;
  text-align: center;
}
.todo-list .content {
  box-shadow: 0 1px 2px 0 #505050;
}
.todo-list .input-box {
  display: block;
  width: 100%;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  padding: 10px 10px 10px 46px;
  position: relative;
  background-color: #fff;
  font-size: 20px;
  transition: all 500ms;
}
.todo-list .input-box .checkbox {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 50%;
}
.todo-list .input-box input {
  border: none;
  display: block;
  width: 100%;
  font-size: 20px;
  outline: none;
  line-height: 30px;
}
.todo-list .input-box .arrow {
  position: absolute;
  left: 6px;
  top: -9px;
  line-height: 1;
  transform: rotate(90deg);
  z-index: 1;
  color: #afafaf;
}
.todo-list .input-box .arrow.enable {
  color: inherit;
}
