$border = 1px solid #c0c0c0
$padding = 10px
$black = #555
$grey = #afafaf

$rowStyle() {
  display block
  width 100%
  line-height 30px
  border none
  border-bottom $border
  padding 10px $padding 10px 46px
  position relative
  background-color #fff
  font-size 20px
  transition all 500ms
  .checkbox {
    cursor pointer
    position absolute
    left 10px
    top: 50%
  }
}
